<header>
  <div class="position-relative">
    <img class="w-100 h-100 vh-100 object-fit-cover" src="./img/imagen fondo.webp" alt>
    <div class="position-absolute top-0 start-0 bg-black opacity-50 w-100 h-100 "></div>
    <div class="position-absolute top-50 start-50 text-center text-white translate-middle">
      <h1 class="display-1 fw-bold fs-1">Grub Dash</h1>
      <p class="fs-3">Comida a domicilio rápido y seguro</p>
      <a class="btn btn-primary pt-3 pb-3 ps-5 pe-5 fs-4" routerLink="/registro">Comenzar</a>
    </div>
  </div>
</header>
<div class="container mt-5">
  <div class="row justify-content-center">

    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <div class="card shadow-lg border-2">
        <img src="img/card1.webp" class="card-img-top" alt="Card image 1">
        <div class="card-body text-center">
          <h5 class="card-title fw-bold text-center">Velocidad nuestra principal virtud</h5>
          <p class="card-text">Comida rápida de la mejor calidad directa a tu mesa. Compra en GrubDash y olvidate de las
            largas esperas</p>
          <button class="btn btn-morado" routerLink="/registro">Pedidos</button>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <div class="card shadow-lg border-2">
        <img src="img/card2.jpeg" class="card-img-top" alt="Card image 2">
        <div class="card-body text-center">
          <h5 class="card-title fw-bold text-center">En la variedad esta la magia</h5>
          <p class="card-text">Gran variedad de restaurantes con mucha calidad. Encuentra siempre lo que más te apetezca
          </p>
          <button class="btn btn-morado" routerLink="/restaurantes">Restaurantes</button>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <div class="card shadow-lg border-2">
        <img src="img/card3.jpeg" class="card-img-top" alt="Card image 3">
        <div class="card-body text-center">
          <h5 class="card-title fw-bold text-center">Para los restaurantes</h5>
          <p class="card-text">
            Registro fácil y máxima facilidad para mostrar tus productos.
            Tu mejor sitio para vender.
          </p>
          <button class="btn btn-morado" routerLink="/mRestaurantes">Mis restaurantes</button>
        </div>
      </div>
    </div>

  </div>
</div>
